<div class="alert alert-block alert-info">
<span style="color: rgb(0,53,91);">
<center><img src="https://imgs.search.brave.com/vIujYFx1qV5CoxJb72HNVYIoBXQjuasIvdngB1DPC3s/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly91cGxv/YWQud2lraW1lZGlh/Lm9yZy93aWtpcGVk/aWEvZW4vdGh1bWIv/NS81Zi9XZXN0ZXJu/X0luc3RpdHV0ZV9v/Zl9UZWNobm9sb2d5/X2FuZF9IaWdoZXJf/RWR1Y2F0aW9uX2xv/Z28ucG5nLzIwMHB4/LVdlc3Rlcm5fSW5z/dGl0dXRlX29mX1Rl/Y2hub2xvZ3lfYW5k/X0hpZ2hlcl9FZHVj/YXRpb25fbG9nby5w/bmc" style="width:180px;height:142px;" title="Logo ITESO"></center>
<font face = "Times New Roman" size = "6"><b><center>Programacion para Mineria de Datos</center></b></font>
<font face = "Times New Roman" size = "5"><b><center>TAREA: Fuga de Datos</center></b></font>

<b><font back = "Times New Roman" size = "4"><center>Unidad 4: </center></font>
<font face = "Times New Roman" size = "4"><center>Tema 4.3: Integración de Datos: Categóricos, Numéricos, Faltantes y Fuga de Datos</center></font>

<b><font back = "Times New Roman" size = "4"><center>Equipo: </center></font>
<font face = "Times New Roman" size = "4"><center> Diego Lemus, Sebastian Zinchenko, Jersus Vargas </center></font>

<div align="right"><font face = "Times New Roman" size = "2">Mtro. Miguel Tlapa Juarez (migueltlapa@iteso.mx)</font></div>
</span></div>

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from numpy.random import RandomState
from pandas.core.common import random_state
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder, StandardScaler, MinMaxScaler, RobustScaler

# Cargamos CSV

In [3]:
data = "data/datos_processing_integration.csv"
df = pd.read_csv(data)
print(df.shape)
df.head()

(120, 12)

,edad,ingreso_mensual,talla_cm,peso_kg,temperatura_c,frecuencia_cardiaca,ciudad,tipo_servicio,nivel,codigo_serie,referencia,sensor_defectuoso
0,2.152350,32.363455,73.0,17.0,1344.359160,NaN,A,azul,bajo,NaN,tagD,74.193076
1,7.527457,NaN,610.0,5.0,1034.626809,0.349578,NaN,verde,medio,X,NaN,NaN
2,3.258677,43.865147,421.0,11.0,1301.186344,1.084957,A,rojo,bajo,Z,tagB,NaN
3,4.481654,76.347980,200.0,6.0,1494.730860,0.343660,A,rojo,alto,Z,tagD,NaN
4,NaN,62.913846,307.0,18.0,856.347865,0.543502,A,NaN,medio,Z,tagC,NaN

# Splitting

In [10]:
#Traning environment with a random splitting and then shuffle them
X_train, X_test = train_test_split(df, random_state=12, shuffle=True)

#Including numbers from our new list
num_cols = X_train.select_dtypes(include=np.number).columns.tolist()
#Excluding numbers from our new list
cat_cols = X_train.select_dtypes(exclude=np.number).columns.tolist()

print(f"num: {num_cols}")
print(f"num: {cat_cols}")

num: ['edad', 'ingreso_mensual', 'talla_cm', 'peso_kg', 'temperatura_c', 'frecuencia_cardiaca', 'sensor_defectuoso']
num: ['ciudad', 'tipo_servicio', 'nivel', 'codigo_serie', 'referencia']